# cached data (for local use only)
data/

# editor temp files
*.swp

# build HTML
index.html

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
