<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{%if page.title %}{{ page.title }}{% else %}{{ page.companyname }}{% endif %}</title>
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <h1>{%if page.title %}{{ page.title }}{% else %}{{ page.companyname }}{% endif %}</h1>
    <main>
      {{ content }}
    </main>
    <footer>
      This page is part of the <a href="/">Surveillance Marketing Meta Directory.</a>
    </footer>
  </body>
</html>
