<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.company-name }}</title>
    <link rel="stylesheet" href="../../site.css">
  </head>
  <body>

{%include header.html %}

    <main>
    <h1>{{ page.company-name }}</h1>

	<table>

	{% if page.company-name %}
		<tr><th>Company Name</th><td>{{ page.company-name }}</td></tr>
	{% endif %}
	{% if page.home %}
		<tr><th>Home</th><td><a target="_blank" href="{{page.home}}">{{ page.home }}<img src="../../i/outlink.svg" alt="(external link)"></a></td></tr>
	{% endif %}
	{% if page.privacy-policy %}
		<tr><th>Privacy policy</th>
			<td><a target="_blank" href="{{ page.privacy-policy }}">{{ page.privacy-policy }}<img src="../../i/outlink.svg" alt="(external link)"></a></td></tr>
	{% endif %}
	{% if page.owned-by %}
		<tr><th>Owned by</th><td><a href="../{{ page.owned-by }}">{{ page.owned-by }}</a></td></tr>
	{% endif %}
	{% if page.email %}
		<tr><th>Privacy email</th><td><a href="mailto:{{page.email}}">{{ page.email }}</a></td></tr>
	{% endif %}
	{% if page.california-date %}
		<tr><th>California registration date</th><td>{{ page.california-date }}</td></tr>
	{% endif %}
	{% if page.vermont-id %}
		<tr><th>Vermont ID</th><td><a target="_blank" href="https://bizfilings.vermont.gov/online/DatabrokerInquire/DataBrokerInformation?businessID={{ page.vermont-id }}">{{ page.vermont-id }}</a><img src="../../i/outlink.svg" alt="(external link)"></td></tr>
	{% endif %}

	</table>

      {{ content }}

<div id="lists">
{% for e in site.list %}
	{% if e.domain == page.domain %}
		<p><b>On list:</b> <a href="../../list/#{{ e.list }}-{{ e.domain }}">{{ e.list-name }}</a></p>
	{% endif %}
{% endfor %}
</div>

	<div id="edit">
		<p>Suggest changes to this page: <a href="https://github.com/dmarti/smmd/tree/gh-pages{{ page.url }}index.md">
		https://github.com/dmarti/smmd/tree/gh-pages{{ page.url }}index.md</a></p>
	</div>
    </main>
{% include footer.html %}

    </footer>
  </body>
</html>
