<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.company-name }}</title>
    <link rel="stylesheet" href="../../site.css">
  </head>
  <body>
    <nav>
      <a href="../../">Home</a>
    </nav>

    <main>
    <h1>{{ page.company-name }}</h1>

	<table>

	{% if page.company-name %}
		<tr><th>Company Name</th><td>{{ page.company-name }}</td></tr>
	{% endif %}
	{% if page.home %}
		<tr><th>Home</th><td><a target="_blank" href="{{page.home}}">{{ page.home }}</a></td></tr>
	{% endif %}
	{% if page.email %}
		<tr><th>Privacy email</th><td><a href="mailtp:{{page.email}}">{{ page.email }}</a></td></tr>
	{% endif %}
	{% if page.california-date %}
		<tr><th>California registration date</th><td>{{ page.california-date }}</td></tr>
	{% endif %}
	{% if page.vermont-id %}
		<tr><th>Vermont ID</th><td><a target="_blank" href="https://bizfilings.vermont.gov/online/DatabrokerInquire/DataBrokerInformation?businessID={{ page.vermont-id }}">{{ page.vermont-id }}</a></td></tr>
	{% endif %}

	</table>

      {{ content }}

	<div id="edit">
		<p>Suggest changes to this page: <a href="https://github.com/dmarti/smmd/tree/master{{ page.url }}index.md">
		https://github.com/dmarti/smmd/tree/master{{ page.url }}index.md</a></p>
	</div>
    </main>
    <footer>
      This page is part of the <a href="https://github.com/dmarti/smmd">Surveillance Marketing Meta Directory.</a>
    </footer>
  </body>
</html>
